{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'stores/css/stores.css' %}">
{% endblock %}

{% block extra_title %} - About {% endblock %}

{% block content %}

<!--  About Page -->
<section id="about">
<div class="overlay"></div>

<div class="row">
    <div class="col mb-5 mt-3">
        <div class="card-body mt-2 ">
            <!-- Display logo image -->
            <div class="img_container about-logo bg-black" role="img" aria-label="image of Liquid Boarads Skateshop logo sunset text on black background">
                <img class="card-logo_store_details"
                src="{{ MEDIA_URL }}noimage.png"
                    alt="image of Liquid Boarads Skateshop logo sunset text on black background">
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6 offset-lg-3 text-center mt-5">  

    <h1 class="about-tagline pb-5"> a local skateshop vibe for a global skateboard tribe</h1>
     
    <p class="pb-2"> Liquid Boards was setup by three independent skate shop owners from Dublin, New York and New Zealand. </p>

    <p class="pb-2"> Demand for Skateboards, Longboards and Surf-Skates has boomed over the last few years but a lack of global stock combined with supplychain issues has limited their availability.</p>

    <p class="pb-2"> The three skateshops have pooled their contacts & resources across three continents and combined their online presence allowing them to source and deliver quality boards & equipment for the growing community.</p>

    <p class="pb-3"> Whether you're looking for American, European, Asian brands or skate spots & events in New York, New Zealand or Ireland check out Liquid Boards.  </p>

    <h3 class=" about-tagline pb-5" > . . get on board! </h3>
     
</div>  
</section>



{% endblock %}