{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container ">
    <div class="row">
<div class="col-12 text-center bg-black my-5 ">   
                    <img class="" style="height:10rem" style=" width:40rem"
                    src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1668961619/static/img/liquid-boards-logo2_zftx58.png"
                    alt="brand logo">  
            </div>  
        </div>
    </div>
</div>


<div class="col-lg-6 offset-lg-3 text-center mt-5">   
    
    <p> Liquid Boards brings local skateshop vibes to a global online community</p>
    <p> The site was setup by three skate shop owners from Dublin, New York and New Zealand </p>
    
    
   
    
</div>  
</div>
</div>
</div>


{% endblock %}