{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}



<div class="container-fluid bg-black mt-2">
    <div class="row">
        <div class="col-12 px-0 py-0 ">
            <img src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1666617492/static/css/sunset-skater2_ygtk3o.jpg"
                class="sunset img-fluid my-auto" />
        </div>

        <div class="col-12 my-1 text-center ">
            
                <a href="{% url 'products' %}">
                    <button class="shop-button ">SHOP NOW</button>
                    </a>
        </div>


        <div id="delivery-banner" class="col-12 text-center mx-0 px-0">
            <div class="col bg-black text-silver">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>

        <!-- <div class="col-12 px-0 py-0 ">
            <img src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1666617038/static/css/japanese-ocean_u2xc7v.jpg"
                class="waves img-fluid my-auto" />
        </div> -->
    </div>
</div>

{% endblock %}