{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}



<div class="container bg-black">
    <div class="row">
        <div class="col-12 px-0 py-0">
            <img src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1666356779/static/css/sv186063-image-kwynd2ny_cyyu6y.jpg"
                class="sunset img-fluid my-auto" />
        </div>

        <div class="col-12 my-1 text-center ">
            
                <a href="{% url 'products' %}">
                    <button class="shop-button ">SHOP NOW</button>
                    </a>
        </div>

        <div class="col-12 px-0 py-0 ">
            <img src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1666345107/static/css/japanese-ocean-background_ztxhv4.jpg"
                class="waves img-fluid my-auto" />
        </div>
    </div>
</div>

{% endblock %}