{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container col-12 mt-5">
    <div class="row">
        <div class="col-12">
            <img src="https://res.cloudinary.com/dwobtnj0v/image/upload/v1666345107/static/css/japanese-ocean-background_ztxhv4.jpg" class="cover" pt-5 />

        </div>
    </div>


</div>



<!-- <div class="container ">
    <div class="row">
        <div class="col-7 col-md-6" my-auto>

            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}