body {
    background-color: black;
  }
  
  .shop-name {
    color: #F28D35;
    /* color: #A8BFBB; */
  }
  h2 {
    color: #A8BFBB;
  
  }


  .cover {
    object-fit: cover;
    width: 100vw;
    height: 350px;
  }

  