<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-silver mr-5 py-1" href="#" id="boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boards
            </a>
            <div class="dropdown-menu border-0 bg-black " aria-labelledby="boards-link">
                <a href="{% url 'products' %}?category=skateboard" class="dropdown-item text-silver">Skateboard</a>
                <a href="{% url 'products' %}?category=longboard" class="dropdown-item text-silver">Longboard</a>
                <a href="{% url 'products' %}?category=surfskate" class="dropdown-item text-silver">Surfskate</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-silver mr-5 py-1" href="{% url 'products' %}?category=trucks" id="wheels-trucks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trucks</a>
         </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-silver mr-5 py-1" href="{% url 'products' %}?category=wheels" class="dropdown-item text-silver">Wheels</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-silver mr-5 py-1" href="{% url 'products' %}" id="boards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All product
            </a>
            <div class="dropdown-menu border-0 bg-black " aria-labelledby="boards-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-silver">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-silver">By Category</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item text-silver">By Brand</a>
            </div>
        </li>
    </ul>
</div>