{% load static %}

<!doctype html>
<html lang='en'>

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An online Skateshop and Local Skateshops to buy skateboards, Longboards, Surfskates. Skate Blog">
    <meta name="keywords"
        content="Skateshop, Skateboard, Longboard, Surfskate, Skate Blog ">

    {% endblock %}

    {% block extra_meta %}
    {% endblock %}


    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <!-- Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <!--Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <!-- Favicon link -->

    <link rel="shortcut icon" type='image/x-icon' href="{% static 'favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/webmanifest' %}">

    <title>Liquid Boards {% block extra_title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid bg-black fixed-top">
        <div id="topnav" class="row pt-lg-2 ">
            <div class="col-lg-3 my-0 py-0 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img id="shop-logo-navbar" style="height:3rem; width:12rem;"
                        src="https://liquid-boards.s3.eu-west-1.amazonaws.com/media/liquid-boards-logo2.png"
                        alt="brand logo">
                </a>
            </div>

            <!-- Navigation Menu -->
            <div class="col px-0">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler icon " type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon icon text-silver"> <i class="fa-solid fa-bars"></i> </span>
                    </button>

                    <div class="collapse navbar-collapse " id="main-nav">
                        <ul class="navbar-nav w-auto mx-auto">

                            <!-- Display Home Link -->
                            <li class="nav-item dropdown">
                                <a class="logo-font nav-link text-silver mr-5 py-1" href="{% url 'home' %}">Home</a>
                            </li>

                            <!-- Display About Link -->
                            <li class="nav-item dropdown">
                                <a class="logo-font nav-link text-silver mr-5 py-1" href="{% url 'about' %}">About</a>
                            </li>

                            <!-- Display Online Shop links -->
                            <li class="nav-item dropdown">
                                <a class="logo-font nav-link text-silver mr-4 py-1" href="#" id="boards-link"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Online Shop</a>
                                <div class="dropdown-menu border-0 bg-black " aria-labelledby="boards-link">
                                    <a href="{% url 'products' %}?category=skateboard"
                                        class="dropdown-item text-silver">Skateboards</a>
                                    <a href="{% url 'products' %}?category=longboard"
                                        class="dropdown-item text-silver">Longboards</a>
                                    <a href="{% url 'products' %}?category=surfskate"
                                        class="dropdown-item text-silver">Surfskates</a>
                                    <a href="{% url 'products' %}?category=skateboard,longboard,surfskate"
                                        class="dropdown-item text-silver">All Boards</a>
                                    <a href="{% url 'products' %}?category=trucks"
                                        class="dropdown-item text-silver">Trucks</a>
                                    <a href="{% url 'products' %}?category=wheels"
                                        class="dropdown-item text-silver">Wheels</a>
                                </div>
                            </li>
                            <!-- Display Local Shop Links -->
                            <li class="nav-item dropdown">
                                <a class="logo-font nav-link text-silver mr-5 py-1" href="#" id="shops-link"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Local Shops</a>
                                <div class="dropdown-menu border-0 bg-black " aria-labelledby="shops-link">
                                    <a href="{% url 'stores'  %}" class="dropdown-item text-silver">All Shops</a>

                                    {% for store in stores %}
                                    <a href="{% url 'store_detail' store_id=store.id %}" class="dropdown-item text-silver">{{ store.location }}</a>
                                    {% endfor%}
              
                                </div>
                            </li>

                            <!-- Display Blog Link -->
                            <li class="nav-item dropdown">
                                <a class="logo-font nav-link text-silver  py-1" href="{% url 'blog' %}?"
                                    >Blog</a>
                            </li>
                        </ul>
                    </div>



                    <ul class="list-inline list-unstyled text-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-silver nav-link pb-0 pt-1 py-2" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    {% if request.user.is_authenticated %}
                                    <p class="my-0">{{user.username}}</p>
                                    {% else %}
                                    <p class="my-0">My Account</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu border-0 bg-black" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item text-silver">Product
                                    Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item text-silver">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item text-silver">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item text-silver">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item text-silver">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-sunset {% else %}text-silver{% endif %} nav-link pb-0 pt-1 py-2"
                                href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        €0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    
                
                </nav>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}


    {% block content %}
    {% endblock %}


    {% block postloadjs%}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>


    <script type="text/javascript">
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);
    </script>

    {% endblock %}


    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="container-footer">

            <!-- Begin Mailchimp Signup Form -->
            <!-- <div class="row text-center"> -->

                <div class="col-10 offset-1 col-lg-4 offset-lg-4 text-center mt-5">
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us21.list-manage.com/subscribe/post?u=d4ea680cc8dae8be23080e7ab&amp;id=63e9c87a7c&amp;f_id=0071c7e1f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate="novalidate">
                            <div id="mc_embed_signup_scroll">
                               
                                    <strong class="text-muted">Get on board! Sign up for our newsletter</strong>
                               
                            </div>
                            <!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
                            <div class="mc-field-group mt-1">
                                <!-- <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label> -->
                                <input type="email" value="" name="EMAIL" class="required email " id="mce-EMAIL"
                                    required="" placeholder="Email address" aria-required="true">
                                <!-- <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span> -->
                                <!-- <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label> -->
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_d4ea680cc8dae8be23080e7ab_63e9c87a7c" tabindex="-1" value=""></div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                        class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End mc_embed_signup-->
            <!-- </div> -->
        </div>


        <div class="social-media mt-5">
            <ul class="social-networks">
                <li>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in new tab)"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in new tab)"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in new tab)"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="blank" rel="noopener"
                        aria-label="Visit out Youtube page (opens in new tab)"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>

        </div>

        
    </footer>

    <!-- mailchimpl scripts -->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>


</body>

</html>